@{
    ViewBag.Title = "Alta";
}

<h2>Alta</h2>

<form action="/Alimentos/DarAlta" method="post">

        <input type="text" name="nombre" placeholder="Nombre del alimento" />
    <br />
   
        <input class="form-control" type="text" name="peso" placeholder="Peso del alimento" />
    <br />
    
        <input class="btn btn-success" type="submit" value="Enviar" />
   
</form>