
@{
    ViewBag.Title = "Alta";
}

<h2>Alta</h2>

<form action="/Alimentos/DarAlta" method="post">

    <input type="text" name="nombre" placeholder="Nombre alimento"/>
    <input type="text" name="peso" placeholder="Peso alimento" />

    <input type="submit" value="Dar alta" />


</form>