@using Entidades
@Model Alimento
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<form action="/Alimentos/Editar" method="post">

    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <input class="form-control" type="text" name="nombre" value=@Model.Nombre />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="peso" value=@Model.Peso />

    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Enviar" />

    </div>
</form>